page-create-orphanage {
    width: flex;
    min-width: 100vh;
}

form {
    width: 70rem;
    margin: 6.4rem auto;
    background: white;
    border: 1px solid #D3E2E5;
    
    border-radius: 2rem;

    overflow: hidden;

    padding: 8rem;
}